<h1>Listing paragraphes</h1>

<table>
  <thead>
    <tr>
      <th>Corps</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @paragraphes.each do |paragraphe| %>
      <tr>
        <td><%= paragraphe.corps %></td>
        <td><%= link_to 'Show', paragraphe %></td>
        <td><%= link_to 'Edit', edit_paragraphe_path(paragraphe) %></td>
        <td><%= link_to 'Destroy', paragraphe, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Paragraphe', new_paragraphe_path %>
